---
import InputAnime from "./InputAnime.astro";
---

<div>
	<div class="container"><InputAnime /></div>
</div>

<style>
	.container {
		min-height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
	}
</style>
